*{
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    /* border: solid; */
}
.text
{
    font-size:55px;
    font-weight: 400;
}
.button{
    /* margin-left: 180px; */
} 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .centerx {
    margin: auto;
    width: 50%;
    padding: 10px;
  }